{% if site.logo %}
    <div class="header-title">
        {% include header-title.html %}
    </div>
    <div class="header-title-mobile">
        <section>
        {% include header-title.html %}
        </section>
    </div>
{% else %}
    {% include header-title.html %}
{% endif %}

{% if site.platforms %}
    <ul class="link">
    {%- for platform in site.platforms %}
    <nobr><a href="{{ platform.link }}" rel="me">{{ platform.icon }}&nbsp;{{ platform.name }}</a>
    {%- unless forloop.last %}<span style="margin-left: 6px;"></span>{% endunless %}</nobr>
    {%- endfor %}
    <button id="theme-toggle-button" style="background:none; border:none; cursor:pointer; color:var(--text-color);"><i class="fas fa-sun"></i></button>
    </ul>
    {% endif %}

<p>{{ site.description | default: site.github.project_tagline }}</p>

{% unless site.hide_project_page %}
    <!-- {% if site.github.is_project_page %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub<br><small>{{ site.github.repository_nwo }}</small></a></p>
    {% endif %}

    {% if site.github.is_user_page %}
    <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
    {% endif %} -->

    <p class="view"><a href="https://scholar.google.com/citations?user=qCA8zV4AAAAJ&hl=en&oi=ao"><i class="ai ai-google-scholar-square"></i> Google Scholar</a></p>
{% endunless %}

{% include sidebar.html %}
