<div class="link-wrapper-mobile">
    {% if site.platforms %}
    <ul class="link">
    {%- for platform in site.platforms %}
    <nobr><a href="{{ platform.link }}" rel="me">{{ platform.icon }}&nbsp;{{ platform.name }}</a>
    {%- unless forloop.last %}<span style="margin-left: 6px;"></span>{% endunless %}</nobr>
    {%- endfor %}
    </ul>
    {% endif %}

    {% if site.navigation %}
    <h3 class="sidebar-h3">Contents:</h3>
    <ul class="content">
    {%- for item in site.navigation %}
      <li><a href="{{ item.link }}">{{ item.name }}</a>
          {% if item.sublist %}
          <ul class="sublist">
              {%- for subitem in item.sublist %}
              <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
              {%- endfor %}
          </ul>
          {% endif %}
      </li>
    {%- endfor %}
    </ul>
    {% endif %}
</div>
