<div class="link-wrapper-mobile">
    {% if site.navigation %}
    <h3 class="sidebar-h3">Contents:</h3>
    <ul class="content">
    {%- for item in site.navigation %}
      <li><a href="{{ item.link }}">{{ item.name }}</a>
          {% if item.sublist %}
          <ul class="sublist">
              {%- for subitem in item.sublist %}
              <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
              {%- endfor %}
          </ul>
          {% endif %}
      </li>
    {%- endfor %}
    </ul>
    {% endif %}
</div>
